<!-----------------------------------------------------------------------------
 Your Name, Assignment Name
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    Your detailed documentation statement here

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
------------------------------------------------------------------------------>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Link to Latest compiled and minified Bootstrap CSS -->

  <!-- Link to Lab06.css -->

  <title>Lab 06</title>
</head>
<body ng-cloak>
<ul class="list-group">
  <li class="list-group=item">
    <h3></h3>
    <h4></h4>
    <img width="225px"/>
    <section ng-controller="PanelController as panel">
      <ul class="nav nav-pills">
        <li ng-class="{ active:panel.isSelected(1)}">
          <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{ active:panel.isSelected(2)}">
          <a href ng-click="panel.selectTab(2)">Specifications</a>
        </li>
        <li ng-class="{ active:panel.isSelected(3)}">
          <a href ng-click="panel.selectTab(3)">Attack Orders</a>
        </li>
      </ul>
      <div class="panel" ng-show="panel.isSelected(1)">
        <p><!-- Aircraft description --></p>
      </div>
      <div class="panel" ng-show="panel.isSelected(2)">
        <p><b>Speed: </b><!-- Aircraft speed--></p>
        <p><b>Maximum Ceiling: </b><!-- Aicraft ceiling --></p>
        <p><b>Max Takeoff Weight: </b><!-- Aircraft takeoff weight --></p>
        <p><b>Range: </b><!-- Aircraft range --></p>
        <p><b>Armament: </b><!-- Aircraft armament --></p>
        <p><b>Cost: </b><!-- Aircraft cost --></p>
        <p><b>First flight: </b><!-- Aircraft first flight --></p>
      </div>
      <div class="panel" ng-show="panel.isSelected(3)">
        <p><b><!-- count and name expression-->: </b><!-- target --></p>
        <form name="orderForm"
              novalidate>
          <input type="number"
                 placeholder="# aircraft"/>
          <input type="text" placeholder="target"
                 ng-minlength="1"/>
          <input type="submit" value="Send Orders"/>
        </form>
      </div>
    </section>
  </li>
</ul>
</div>
<!-- Link to AngularJS -->

<!-- Link to Lab06.js -->

</body>
</html>