/******************************************************************************
 Your Name, Assignment Name
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    Your detailed documentation statement here

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
******************************************************************************/

body {
    padding: 20px;
}

li {
    list-style-type: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {

}

