<!-----------------------------------------------------------------------------
 Your Name, Assignment Name
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    Your detailed documentation statement here

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
------------------------------------------------------------------------------>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lab 06 Instructions</title>
</head>
<body>
<h3>Lab 06 Instructions</h3>
<h2>Setup</h2>
<ol>
    <li>Install Bootstrap 3 and AngularJS Plugins</li>
    <li>Link this stylesheet to your Lab06 HTML file: <code>  &lt;link rel="stylesheet"
                                                                    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
                                                                    integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
                                                                    crossorigin="anonymous"&gt;</code></li>
    <li>Link your own lab06.css as a stylesheet</li>
    <li>Link this JavaScript framework: <code>&lt;script
      src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"&gt;&lt;/script&gt;</code> and install the package (Alt + Ent)</li>
    <li>Link your own lab06.js</li>
    <li></li>
</ol>
<h2>Inventory Setup</h2>
<ol>
    <li>Link the HTML page to the ng-app "inventory"</li>
    <li>Link the HTML body to the ng-controller "InventoryController" and set an alias, eg, "InventoryController as inventory"</li>
    <li>Link the li to an ng-repeat of the aircrafts in the alias you identified above, eg, "aicraft in inventory.aircrafts"</li>
    <li>Add AngularJS expressions to add the aircraft name, nickname, and image to the h3, h4, and img tags, respectively</li>
    <li>Verify you have aircraft titles and images repeating on your webpage</li>
</ol>
<h2>Tab Setup</h2>
<ol>
    <li>Add the a ng-controller "PanelController" to the section tag and set an alias, eg, "PanelController as panel"</li>
    <li>Within the first div, add an Angular expression for the aircraft description</li>
    <li>Withing the second div, add angular expressions for the aircraft speed, ceiling, takeoff weight, range, armament, cost, and date of first flight in the appropriate places following the b tag</li>
    <li>Add an Angular filter to the cost and first flight expressions for currency and date, respectively</li>
    <li>Within the third div's paragraph, add an ng-repeat to iterate over the attacks of the aircraft</li>
    <li>Withing the paragraph's b tag, add the count of aircraft and the aircraft name, followed by the target outside of the b tag. The result should look like: <br/><b>2 A-10:</b> Command Center</li>
    <li>Verify that your page shows 3 aircraft and you are able to select from the three tabs for each aircraft</li>
</ol>
<h2>Form Setup</h2>
<ol>
    <li>Add an ng-controller to the form "OrderController" and provide an alias</li>
    <li>Link the first input to the aircraft's attack count, using ng-model</li>
    <li>Link the second input to the aircraft's attack target, using ng-model</li>
    <li>Set the novalidate attribute on the form</li>
    <li>Add ng-required to both input fields</li>
    <li>Set the form's ng-submit attribute to call the addAttack method, which requires the current aircraft. The submission should only work if the form is valid</li>
    <li>Add a border color to the css file, selecting all elements having the ng-invalid and ng-dirty classes</li>
    <li>Add a border color to the css file, selecting all elements having the ng-valid and ng-dirty classes</li>
    <li>Verify that you can add attack orders and that form validation is working</li>
    <li>Add a style <code>display: none !important</code> to the ng-cloak selector in css</li>
</ol>
</body>
</html>