/******************************************************************************
 Your Name, Assignment Name
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    Your detailed documentation statement here

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
******************************************************************************/

/** Modify the style of a list inside of nav tags:
    1. Give the list-style-type a value of none to remove the bullets
    2. Set the margin between the list items to 0
    3. Set the padding between the list items to 0
    4. Set a background-color
    5. Set the position to fixed
    6. Set the top to 0
    7. Set the width to 100% **/
nav ul {

}

/** Modify the style of list items within nav tags:
    1. Set the float to left so that the elements slide next to each other **/
nav ul li {

}

/** Modify the style of links (a) in list items within nav tags:
    1. Set the display to block
    2. Set the color to white
    3. Set the text-align to center
    4. Set the padding to set the desired size of your "buttons" (14px 16px might work well)
    5. Set the text-decoration to none **/
nav ul li a {

}

/** Modify the style of the hover of links within the nav tags:
    1. Set the background-color to something other than the property for ul **/
nav ul li a:hover {

}

/** Modify the table, table header and table columns:
    1. Add borders to the table, table header, and table column
    2. Center the text in the first and last columns of the table
       (look up first-child, last-child, first-of-type, last-of-type)
    3. "Stripe" the table by coloring the rows of table alternating colors
       (look up nth-child/nth-of-type even and odd selectors)
    4. Apply special formatting to the table header, eg, special font, color
       or border to differentiate it from the table rows
    5. Create an id "my_class_year" and provide special formatting to a table
       row that designates your class.  Add the id to the appropriate row of the
       class table
**/

/** This sets the style of the main portion of the body **/
div#main {
    padding: 20px;
    margin-top: 30px;
    background-color: #FFFFEE;
}

/** The following styles set the style for the questions on the webpage **/
ol.questions {
    counter-reset: item;
    list-style-type: none;
}

ol.questions li:before {
    content: "Q" counter(item,decimal) '. ';
    counter-increment: item;
}

p.question {
    display: inline;
    font-family: "Times New Roman", "serif";
    font-style: italic;
}

p.answer {
    font-family: "Verdana", "sans-serif";
    padding-left: 2em;
}

code {
    font-family: "Consolas", "monospace";
    font-weight: bold;
    font-style: normal;
}

