/******************************************************************************
 Your Name, Assignment Name
 CS364, Information Storage and Retrieval, Spring 2016
 Instructor: Lt Col Blair Watkinson

 Documentation:
    Your detailed documentation statement here

 Observations, Feedback, and questions:
    Any feedback or questions to the instructor here
******************************************************************************/

table, thead, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td:first-child, td:last-child {
    text-align: center;
}

thead {
    font-family: "Vivaldi", "cursive";
    font-weight: bolder;
    font-size: larger;
}

tr:nth-child(even) {
    background-color: lightsalmon;
}

tr#selectedClassYear {
    background-color: yellow;
}

/** This sets the style of the main portion of the body **/
div#main {
    padding: 20px;
    margin-top: 30px;
    background-color: #FFFFEE;
}

code {
    font-family: "Consolas", "monospace";
    font-weight: bold;
    font-style: normal;
}
