<!DOCTYPE html>
<html lang="en" ng-app="swap-meet">
<head>
  <meta charset="UTF-8">
  <title>USAFA Swap Meet</title>

  <style>
    [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }
  </style>
</head>
<body>

  <h1>USAFA Swap Meet</h1>

  <ul ng-controller="userController as usersCtrl">
    <li ng-repeat="user in usersCtrl.users">{{user}}</li>
  </ul>



  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="app.js"></script>
</body>
</html>
